aws_region      = "us-east-1"
project_name    = "helpdesk-ai"
instance_type   = "t3.micro"
volume_size     = 20
ssh_public_key  = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHwG4/+IvsOCCXPiWZEKSSDciI1LaMZNnjr/XYHZGTZ8 your_email@example.com"
ssh_allowed_ips = ["0.0.0.0/0"]
